/* BODY */

:root {
  --main-color: #025455;
  --second-color: #00ffff;
  --third-color: #220101;
  --fourth-color: #222121;
  --gradient-color: linear-gradient(
    0deg,
    rgb(25, 25, 25) 19%,
    rgb(39, 0, 0) 100%
  );
  --main-font-color: #00ffff;
  --second-font-color: #ffffff;

  --main-font: "orbitron", sans-serif;
  --second-font: "orbit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--fourth-color);
  margin: 0;
  height: auto;
}

/* HEADER */

.navBar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2%;
  background: var(--gradient-color);
  position: sticky;
  top: 0;
  z-index: 5000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.generalTitle {
  font-size: 1rem;
  color: var(--main-font-color);
  font-weight: bold;
  margin: 0;
  font-family: var(--main-font);
  position: relative;
  padding-left: 1%;
  text-decoration: none;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.generalTitle:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #00ffff;
  transform-style: linear;
  transition-property: height, width;
  transition-delay: 0.5s, 1s;
  transition-duration: 0.5s;
}
.generalTitle:hover:before {
  transition-property: width, height;
  width: 15px;
  height: 100%;
}
.generalTitle:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0s;
  transform-origin: left;
  z-index: -1;
}
.generalTitle:hover:after {
  transform: scaleX(1);
  transition-delay: 1.5s;
}

.navBarList {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navBarList.active {
  max-height: 400px;
}

.navBar ul li a {
  text-decoration: none;
  color: var(--main-font-color);
  opacity: 75%;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.6s ease;
  font-family: var(--main-font);
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 1);
}

.navBar ul li a:hover {
  color: var(--main-font-color);
  opacity: 100%;
  font-size: 1.2rem;
  transition: font-size 0.3s ease;
}

#burgerMenu {
  display: none;
  transition: transform 0.3s ease;
}

#burgerMenu.active {
  transform: rotate(90deg);
}

@media (max-width: 860px) {
  .navBar {
    background: rgb(39, 0, 0);
  }
  .navBarList {
    display: none;
    flex-direction: column;
    width: 30%;
    gap: 10px;
    text-align: center;
    background: var(--gradient-color);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    margin-left: 70%;
  }

  .navBarList.active {
    display: flex;
    max-height: 300px;
    transition: max-height 0.3s ease;
  }

  .navBarList li {
    margin: 5% 0;
  }

  #burgerMenu {
    display: block;
    font-size: 24px;
    color: var(--main-font-color);
    cursor: pointer;
    z-index: 6000;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

/* MAIN */

section#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

div:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
div:nth-of-type(1):checked ~ section#carousel {
  --position: 1;
}

div:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
div:nth-of-type(2):checked ~ section#carousel {
  --position: 2;
}

div:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
div:nth-of-type(3):checked ~ section#carousel {
  --position: 3;
}

div:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
div:nth-of-type(4):checked ~ section#carousel {
  --position: 4;
}

div:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
div:nth-of-type(5):checked ~ section#carousel {
  --position: 5;
}
